@import "../../common/styles/colors";
.list {
  width: 400px;
  margin: auto;
  padding: 64px 0;
  list-style: none;
}

.row {
  position: relative;
  line-height: 48px;
  border-bottom: 1px solid $aqua;
  &:last-of-type {
    border-bottom: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -48px;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    border-radius: 50%;
    background: $aqua;
  }
}
